.profileView {
  display: flex;
  margin: auto;
  width: 100%;
  height: 400px;
  padding: 10px;

  &__img {
    flex: 1 1 0;
    min-width: 400px;
  }

  &__info {
    flex: 2 2 auto;
    margin-left: 24px;
  }
}
