.skillView {
  &__tree {
    display: flex;
    align-items: center;
    overflow-y: hidden;
    overflow-x: scroll;
    // margin: 10px;
    background-color: #D9D9D9;
    border-radius: 12px;
    border: 3px solid black;
  }

  &__title {
    margin-left: 10px;
  }

}