.userListView {
  text-align: center;
  overflow-x: scroll;

  &__labelList,
  &__valueList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
  }

  &__label,
  &__value {
    border: 1px solid black;
  }
}
