.header {
  width: 100%;

  &__signIn {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav-links {
    display: flex;
    list-style-type: none;
  }

  &__nav-link {
    margin-right: 5px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
