html {
  font-size: 1vw;
  background-color: black;

  @media (min-width: 1200px) {
    font-size: 14px;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Monda", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  overflow-x: hidden;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
  margin-top: 24px;
  margin-bottom: 24px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  color: black;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

button {
  font-family: "Monda", sans-serif;
  font-size: 14px;
  font-weight: bold;
  appearance: none;
  border: 1px solid black;
  border-radius: 12px;
  background-color: #e3e3e3;
  color: black;
  font-weight: bold;
  padding: 12px;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5), 4px 4px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;

  appearance: none;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  list-style: none;
  padding-inline-start: 0;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

em {
  font-style: normal;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #36213e;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

input {
  font-family: "Monda", sans-serif;
  font-size: 18px;
  padding: 12px;
  margin: 10px;
  border: none;
  border-radius: 6px;
  color: black;
  background-color: #E3E3E3;
  &::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
}

select[multiple] {
  appearance: none;
  font-family: "Monda", sans-serif;
  font-size: 18px;
  padding: 12px;
  margin: 10px;
  border: none;
  border-radius: 6px;
  color: black;
  background-color: #E3E3E3;

  & option:checked {
    background-color: #554971ff; 
    color: white;
  }
}

//  CSS HEX
// --dark-purple: #36213eff;
// --cyber-grape: #554971ff;
// --slate-gray: #63768dff;
// --middle-blue: #8ac6d0ff;
// --blizzard-blue: #b8f3ffff;
