.m-button {
  appearance: none;
  border: 1px solid black;
  border-radius: 12px;

  font-weight: bold;
  padding: 12px;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5), 4px 4px 10px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;

  background-color: #36213e;
  color: #ffd600;

  &:hover {
    background-color: #e3e3e3;
    color: black;
    opacity: 1;
  }
}

.m-modalButton {
  width: calc(100% - 20px);
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.m-navLink {
  &.active {
    & button {
      background-color: #e3e3e3;
      color: black;
      opacity: 1;
    }
  }

  &:hover {
    & button {
      background-color: #e3e3e3;
      color: black;
      opacity: 1;
    }
  }
}

.m-flex {
  display: flex;
}

.m-flexColumn {
  display: flex;
  flex-direction: column;
}
.m-flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.m-line {
  position: absolute;
  width: 9rem;
  margin-top: -0.1rem;
  z-index: 1;
  background-color: black;
}

.m-logo {
  border: 3px solid black;
}

.m-title-stoke-black,
.m-title-stoke-white {
  font-family: "Monda", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 26px;
}

.m-title-stroke-white {
  font-family: "Monda", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.6rem;
  color: black;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.m-title-stroke-black {
  font-family: "Monda", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.6rem;
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5),
    -1px 1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.m-gutter {
  width: 10px;
  background: #63768d;
  z-index: 10;

  @media (min-width: 1200px) {
    width: calc(100vw - 600px);
    flex: 1 1 0;
    position: static;

  }
}