.m-button {
  appearance: none;
}

.m-flex {
  display: flex;
}

.m-flexColumn {
  display: flex;
  flex-direction: column;
}

.m-skillListButton {
  margin-left: 10px;
  height: 100%;
}

.m-line {
  position: absolute;
  width: 20px;
  margin-top: -1px;
  z-index: 1;
  background-color: black;
}