.hidden {
  visibility: hidden;
  display: none;
}

.visible {
  visibility: visible;
  display: initial;
}

@mixin white-stroke {
  color: black;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

@mixin black-stroke {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5),
    -1px 1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(0, 0, 0, 0.5);
}
