.skillTreeNode {
  position: relative;
  padding: 2px;
  margin: 2px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 95px;
  margin-bottom: 95px;
  z-index: 2;
  transform: translateY(-10px);

  &:last-of-type {
    margin-bottom: 0;
  }

  &__text, &__xp {
    font-family: 'Monda', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px;
    width: 160px;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 3;
    text-shadow:
      -1px -1px 0 #fff,  
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
      1px 1px 0 #fff;

    &.current {
      color: rgba(255, 255, 255, 0.8);
      text-shadow:
        -1px -1px 0 rgba(0, 0, 0, 0.5),  
        1px -1px 0 rgba(0, 0, 0, 0.5),
        -1px 1px 0 rgba(0, 0, 0, 0.5),
        1px 1px 0 rgba(0, 0, 0, 0.5);
    }
  }

  &__xp {
    margin-top: 10px;
  }

  &__svg {
    position: absolute;
  }

  &__button {
    z-index: 3;
  }

  &__blank {
    height: 200px;
  }
}