.skillTreeNode {
  position: relative;
  padding: 0.2rem;
  margin: 0.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 9.5rem;
  margin-bottom: 9.5rem;
  z-index: 2;
  transform: translateY(-1rem);
  height: 20rem;

  &__overlay {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    font-size: 3.2rem;
  }

  &.current:hover {
    .skillTreeNode__svg {
      filter: brightness(1.4);
    }

    .skillTreeNode__text,
    .skillTreeNode__xp {
      display: none;
    }

    .skillTreeNode__overlay {
      display: block;
    }

    .skillTreeNode__button {
      cursor: pointer;
      opacity: 1;
    }

    &.current.teacher:hover {
      .skillTreeNode__svg {
        filter: brightness(1);
      }

      .skillTreeNode__text,
      .skillTreeNode__xp {
        display: initial;
      }

      .skillTreeNode__overlay {
        display: none;
      }

      .skillTreeNode__button {
        cursor: auto;
        opacity: 0;
      }
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &__text,
  &__xp {
    width: 16rem;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 3;
  }

  &__xp {
    margin-top: 1rem;
  }

  &__svg {
    position: absolute;
  }

  &__button {
    appearance: none;
    border: none;
    padding: 0;
  }

  &__blank {
    height: 16rem;
    width: 16rem;
  }
}
