.mainNav {
  background-color: #63768D;
  padding: 12px;
  &__items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__item {
      margin-right: 4px;
    &:last-of-type {
      margin: 0;
    }
  }
}