.skillListQuest {
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &--isAvailable {
    -webkit-box-shadow: inset -1px 3px 8px 5px #fff, 2px 5px 16px 0px #fff,
      0px 10px 24px 1px rgba(0, 0, 0, 0);
    box-shadow: inset -1px 3px 8px 5px #fff, 2px 5px 16px 0px #fff,
      0px 10px 24px 1px rgba(0, 0, 0, 0);
    filter: brightness(0.5);
    position: relative;

    & .skillListSkill__skill,
    & .skillListQuest__family {
      filter: blur(5px);
    }

    & .skillListQuest__overlay {
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      content: "Not yet completed";
      text-transform: uppercase;
      text-align: center;
      font-size: 100px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      filter: none;
    }
  }

  &--isCurrent {
    border: 10px solid #fff;
    -webkit-box-shadow: inset -1px 3px 8px 5px #fff, 2px 5px 16px 0px green,
      0px 10px 24px 1px rgba(0, 0, 0, 0);
    box-shadow: inset -1px 3px 8px 5px #fff, 2px 5px 16px 0px green,
      0px 10px 24px 1px rgba(0, 0, 0, 0);
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    margin-left: 20px;
  }

  &__check {
    font-size: 56px;
    color: green;
  }

  &__family {
    text-align: center;
    font-size: 14px;
    border-radius: 12px;
    padding: 4px;
    margin-left: 20px;
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 24px;
    }
    -webkit-box-shadow: 0px 10px 24px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 10px 24px 1px rgba(0, 0, 0, 0.3);
  }

  &__inProgress {
    margin-left: 24px;
  }
}
