.skillListSkill {
  &__skill {
    margin-left: 40px;
    margin-bottom: 20px;
  }

  &__text {
    justify-content: space-between;
  }

  &__name {
    font-size: 18px;
  }

  &__skillXP {
    font-weight: 600;
    margin-left: 10px;
    font-size: 16px;
    color: #ffd600;
  }
}
