.skillListQuest {
  margin-left: 10px;
  
  &__head {
    display: flex;
    align-items: center;
  }

  &__title {
      margin-left: 20px;
  }

  &__family {
    margin-right: 20px;
    margin-left: 20px;
    &:last-of-type {
      margin-right: 0;
    }
    margin-bottom: 10px;
  }

}